html {
  height: 100%;
  width: 100%;
}

body {
	/*font-family: Helvetica;*/
	text-align: center;
}

@font-face {
	 font-family: MyFirstFont;
	 src: url(ZurichRegular.ttf);
}

h1 {
	font-family: MyFirstFont;
	font-style:bold;
	font-weight: bolder;
}
canvas {
	border-radius: 4%;
	border: 4px solid black;
	background-color: white;
}